[project]
name = "docker-model-runner-containerised"
version = "0.1.0"
description = "Add your description here"
readme = "README.md"
requires-python = ">=3.13"
dependencies = [
    "dotenv>=0.9.9",
    "openai>=2.14.0",
    "streamlit>=1.52.2",
]
